/workshops/JavaApplication6/nbproject/private/
/workshops/JavaApplication6/build/
/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit 1/HW02_sale_of_clothing_price_and_sizes/nbproject/private/
/assignments/unit 1/HW02_sale_of_clothing_price_and_sizes/build/
/workshops/unit1/WS04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit 1/HW03Iterations/nbproject/private/
/assignments/unit 1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/workshops/unit1/WS02FP_controlStatement/nbproject/private/
/workshops/unit1/WS02FP_controlStatement/build/