/workshops/JavaApplication6/nbproject/private/
/workshops/JavaApplication6/build/
/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit 1/HW02_sale_of_clothing_price_and_sizes/nbproject/private/
/assignments/unit 1/HW02_sale_of_clothing_price_and_sizes/build/
/workshops/unit1/WS04_LogicalOperators/nbproject/private/
/workshops/unit1/WS04_LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit 1/HW03Iterations/nbproject/private/
/assignments/unit 1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/workshops/unit1/WS02FP_controlStatement/nbproject/private/
/workshops/unit1/WS02FP_controlStatement/build/
/workshops/unit1/WS02FP_ControlStatements/nbproject/private/
/workshops/unit1/WS02FP_ControlStatements/build/
/assignments/unit 1/HW04_GarmentMenu/nbproject/private/
/assignments/unit 1/HW04_GarmentMenu/build/
/assignments/unit 1/HW04_DeliveryMenu/nbproject/private/
/assignments/unit 1/HW04_Esfera_Menus/nbproject/private/
/assignments/unit 1/HW04FigureCalculatorMenu/nbproject/private/
/assignments/unit 1/HW04FigureCalculatorMenu/build/
/assignments/unit 1/JavaApplication20/nbproject/private/
/assignments/unit 1/JavaApplication20/build/
/Exam/unit1/ExamUnit1/nbproject/private/
/Exam/unit1/ChavezYesseniaQ11/nbproject/private/
/Exam/unit1/ChavezYesseniaQ11/build/
/workshops/JavaApplication23/nbproject/private/
/workshops/JavaApplication23/build/
/workshops/ExamQ11Solution/nbproject/private/
/workshops/ExamQ11Solution/build/
/workshops/unit2/WS08_Exam_Q11_Correction/nbproject/private/
/workshops/unit2/WS08_Exam_Q11_Correction/build/
/assignments/unit 2/HW08-FactorialNumber/nbproject/private/
/assignments/unit 2/HW08-FactorialNumber/build/
/assignments/unit 2/HW09-EmbeddedStructures/nbproject/private/
/assignments/unit 2/HW09-EmbeddedStructures/build/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/assignments/unit 2/HW10-Functions/nbproject/private/
/assignments/unit 2/HW10-Functions/build/
/workshops/unit2/WS11FunctionsAndRecursion/nbproject/private/
/workshops/unit2/WS11FunctionsAndRecursion/build/
/assignments/unit 2/HW11Recursion/nbproject/private/
/assignments/unit 2/HW11Recursion/build/